

#container {
    width: 100%;
    background-color: aquamarine;
    margin: 0px;
    padding: 0px;
}

#temp{
    font-size: xx-large;

}
#weatherDescription{
    font-size: 20px;
}

#infoContainers {
    border-style: solid;
    text-align: center;
    background-color: lightgrey;

}
#map-canvas{
    height:400px;

}
#weatherUpdate{
    text-align: center;
    font-size: 50px;
}
#cityName{

    font-size: 30px;

}
#addressBar{
    clear: both;
}



